<!doctype html>
<html lang="{{ site.lang | default: "zh-Hans" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="icon" href="/assets/images/fav.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/images/fav.ico" type="image/x-icon" />

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl | append: '/assets/js/main.js' }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header style="background-image:url({{page.bg_url | default: '../images/background.png'}})">
        <h2>{{ page.title }}</h2>
        <p>{{ page.subtitle }}</p>       
      </header>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p><a href="{{ site.github.repository_url }}/blob/master/{{page.path}}">帮助优化此页面</a></p>
          <p><a href="/">回到首页</a></p>
        {% endif %}
      </footer>
    </div>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
      <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{site.google_analytics}}'); </script>
    {% endif %}
  </body>
      <script src="https://utteranc.es/client.js"
        repo="zhongwencool/notes"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
</html>
