<!doctype html>
<html lang="{{ site.lang | default: "zh-Hans" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="icon" href="/assets/images/fav.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/images/fav.ico" type="image/x-icon" />

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h2>{{ site.title | default: site.github.repository_name }}</h2>
        {% if site.subtitle or site.github.project_tagline %}
          <p>{{ site.subtitle | default: site.github.project_tagline }}</p>
        {% endif %}
      </header>
      <section>

      {% assign posts = site.pages | sort: 'date' %}
        <table>
          <thead>
            <tr> <th style="text-align: left">标题</th> <th style="text-align: left">类别</th> <th style="text-align: left">时间</th> </tr>
          </thead>
          <tbody>
          {% for post in posts reversed %}
            {% if post.title %} 
              <tr>                  
                <td style="text-align: left"><a href="{{post.path | remove: '.md'}}">{{post.title}}</a></td>
                <td style="text-align: left">{{post.category}}</td>
               <td style="text-align: left">{{post.date}}</td>
             </tr>
           {% endif %}
         {% endfor %}
         </tbody>
        </table>

      {{ content }}

      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Made by <a href="{{ site.github.owner_url }}">某文</a></p>
    {% endif %}
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
      <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{site.google_analytics}}'); </script>
    {% endif %}
    <script src="https://utteranc.es/client.js"
        repo="zhongwencool/notes"
        issue-number="2"
        theme="github-light"
        crossorigin="anonymous"
        async>
   </script>
  </body>
</html>
