name: Test deployment

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    #defaults:
    #   run:
    #     working-directory: "/home/runner/work/notes"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          #cache: yarn
          cache: npm

      - name: Install dependencies
        # run: yarn install --frozen-lockfile
        run: npm ci
      - name: Test build website
        # run: yarn build
        run: npm run build
